@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1465 65th Steet<br />
    Emeryville, CA 96408<br />
    <abbr title="Phone">P:</abbr>
    408.768.9850
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:aravindgopinath88@gmail.com">aravindgopinath88@gmail.com</a><br />
</address>